@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}
ol li {
    list-style: none;
}
ol li a{
    text-decoration: underline;
}
.li2{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.a1{
    text-decoration: underline;
}

.a2{
    text-decoration: underline;
}
.a3{
    text-decoration: underline;
}
.cold{
    display: flex;
}
.hr{
    background-color: gray;
    width: 800px;
    height: 1px;
}
.flex1{
    display: flex;
}

.a0{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.old{
    
}


   
@media screen and(max-width: 995px){
    
}

